{% extends 'base1.html' %}
{% block body %}
<div class="container" style="justify-content:center; margin-top:10%;">
	<div class="container text-center">
		<div class="container text-center">
			<div class="page-header">
				<h1><b>Quiz Has Ended</b></h1>
			</div>
			<br><br>
			{% for i in id %}
			<div class="page-header">
				<h2><b>{{i.username}}</b></h2>
			</div>
			{% endfor %}
			<div class="container">
				<h3><b>Your Score is:- {{score}}</b></h3>
			</div>
			<br><br>
			<div class="container">
				<h5><b>Thanks For Giving The Quiz</b></h5>
			</div>
			<br><br>
			<div class="container">
				<a href="/logout"><button class="btn btn-default">
						<b>Logout</b>
					</button></a>
			</div>
		</div>
		<footer>
			<b>
				<div class="text-center p-t-40" style="font-size: 15px;">
					Developer :- Abhinav Sharma
					<a href="https://www.facebook.com/abhinav.sharma.16906" class="fa fa-facebook"></a>
				</div>
			</b>
		</footer>
		{% endblock %}